*,
*::before,
*::after {
    box-sizing: border-box;
}

img {
    display: block;
    max-inline-size: 100%;
}

html {
    scroll-behavior: smooth;
}

/* _____________________ Variables  __________________ */

:root {
    --ff-primary: 'Roboto', sans-serif;
    --fw-reg: 400;
    --fw-bold: 700;

    --fs-h1: 4.5rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1.1rem;

    --base-clr: #11121a;
    --line-clr: #42434a;
    --hover-clr: #222533;
    --text-clr: #e6e5ef;
    --accent-clr: #5e63ff;
    --secondary-text-clr: #b0b3c1;
}

/* _____________________ Typography  __________________ */

h1,
h2,
h3 {
    line-height: 1;
    margin: 0;
}

h1 { font-size: var(--fs-h1) }
h2 { font-size: var(--fs-h2) }
h3 { font-size: var(--fs-h3) }

body {
    font-family: var(--ff-primary);
    font-weight: var(--fw-reg);
    font-size: var(--fs-body);
    background-image: linear-gradient(to right, #77A1D3 0%, #79CBCA  51%, #77A1D3  100%);
    color: black;
}


main {
    display: grid;
    grid-template-columns: auto 1fr;
}

aside {
    border: 3px solid blue;
    padding-inline: 3rem;
    color: var(--text-clr);
    background-color: var(--accent-clr);
}

aside a {
    color: var(--text-clr);
}

aside a:hover {
    color: var(--hover-clr);
}

.main-page {
    padding-inline: 5em;
}

.wrapper {
    max-inline-size: 1200px;
    margin-inline: 3%;
}


/* _____________________ reusable styles _____________________ */

.border-radius-50 {
    border-radius: 50%;
}

.fs-3rem {
    font-size: 3rem;
}

/* _____________________ nav _____________________ */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block-start: 1em;
    margin-block-end: 6rem;
}

.logo {
    height: 60px;
    width: 60px;
}

.logo-nav {
    display: flex;
    align-items: center;
}

.logo-nav > h3 {
    color: white;
    font-weight: normal;
    font-size: 1.75rem;
    line-height: 2rem;
}

.logo-nav > * {
    margin-inline-start: 0.8rem;
}

header a {
    text-decoration: none;
    color: white;
    margin-inline-start: 0.8rem;
}

header a:hover {
    color: grey;
}

header li {
    font-size: var(--fs-h3);
    display: inline-block;
    margin-inline-end: 0.8rem;
}