*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-inline-size: 100%;
}

html {
    scroll-behavior: smooth;
}

/* _____________________ Variables  __________________ */

:root {
    --ff-primary: 'Roboto', sans-serif;
    --fw-reg: 400;
    --fw-bold: 700;

    --fs-h1: 4.5rem;
    --fs-h2: 2.75rem;
    --fs-h3: 2.25rem;
    --fs-body: 1.1rem;

    --base-clr: #11121a;
    --line-clr: #42434a;
    --hover-clr: #222533;
    --text-clr: #e6e5ef;
    --accent-clr: #5e63ff;
    --secondary-text-clr: #b0b3c1;
}

/* _____________________ Typography  __________________ */

h1,
h2,
h3 {
    line-height: 1;
    margin: 0;
}

h1 { font-size: var(--fs-h1) }
h2 { font-size: var(--fs-h2) }
h3 { font-size: var(--fs-h3) }

body {
    font-family: var(--ff-primary);
    font-weight: var(--fw-reg);
    font-size: var(--fs-body);
    background-image: linear-gradient(to right, #77A1D3 0%, #79CBCA  51%, #77A1D3  100%);
    color: black;
}

main {
    display: grid;
    grid-template-columns: auto 1fr;
}

/* _____________________ reusable styles _____________________ */

.border-radius-50 {
    border-radius: 50%;
}

.fs-3rem {
    font-size: 3rem;
}

.fc-blue-bold {
    font-weight: bold;
    color:blue;
}

/* _____________________ nav _____________________ */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block-start: 1em;
    margin-block-end: 3em;
}

.logo {
    height: 60px;
    width: 60px;
}

.logo-nav {
    display: flex;
    align-items: center;
}

.logo-nav > h3 {
    color: white;
    font-weight: normal;
    font-size: 1.75em;
    line-height: 2em;
}

.logo-nav > * {
    margin-inline-start: 0.8em;
}

header a {
    text-decoration: none;
    color: white;
    margin-inline-start: 0.8em;
}

header a:hover {
    color: grey;
}

header li {
    font-size: 1.2em;
    font-weight: var(--fw-bold);
    display: inline-block;
}

/* _____________________ sidebar _____________________ */

aside {
    height: 100vh;
    width: 250px;
    padding: 5px 1em;
    color: var(--text-clr);
    background-color: var(--base-clr);
    border-right: 1px solid var(--line-clr);
}

aside ul {
    list-style: none;
}

aside ul li.active a {
    color: var(--accent-clr);
}

aside a, aside .dropdown-btn {
    border-radius: 0.5em;
    padding: 0.85em;
    text-decoration: none;
    color: var(--text-clr);
    display: flex;
    align-items: center;
    gap: 1em;
}

aside a {
    color: var(--text-clr);
}

aside a:hover {
    color: var(--hover-clr);
}

.dropdown-btn {
    width: 100%;
    /* text-align: left; */
    background: none;
    /* border: none; */
    font: inherit;
    cursor: pointer;
}

/* _____________________ main _____________________ */

.title {
    margin-block: 3em;
}

.new-section {
    border: 2px solid purple;
    padding: 1em;
    margin-block: 1em;
}

.main-page {
    padding-inline: 5em;
}

.wrapper {
    max-inline-size: 1600px;
    margin-inline: 3%;
}

