/* _____________________ main _____________________ */

section {
    margin-block: 3em;
}

.title {
    text-align: center;
}

.title > p {
    font-size: 1.5em;
    margin-block: 1em;
}

.front-page-img {
    margin-inline: auto;
    height: 20%;
    width: 20%;
}

/* getting started */
.getting-started {
    margin-block-start: 5em;
}

.getting-started > p {
    font-size: 1.2em;
}

/* _____________________ footer _____________________ */
footer {
    padding: 2rem;
    margin-block: 5em;
    text-align: center;
    background-color: #0c7fa7;
    color: white;
}